
#wrapper.row-fluid  
  #header  
    %h1 header  
    %h2 sub header
  .box1.span2
    %ul  
      %a(href="/")  
        %li Home  
      %a(href="about")  
        %li About  

  .box2.span9
    %h2 test
    %ul  
      %a(href="/")  
        %li Home  
      %a(href="about")  
        %li About  
  .clearboth      
  #footer  
    %p  
      This is the footer.
