#wrapper
  .row-fluid
    #header.row-fluid
      #logo.span3
        %img{:alt => "Mymaths logo", :src => "/assets/logo.png"}/
      #header-right.span9
        .span12.top-menu
          .span8
            #main-navigation.span12
              %ul.nav.nav-pills.header-nav
                %li.separator
                  %a{:href => ""} Assessment manager
                %li.separator
                  %a{:href => ""} Help
                %li
                  %a{:href => ""} Log out
                %li
                  %a{:href => ""} Another link
          .span4
            %form.navbar-form
              %input.span9.search-box{:type => "text"}/
              %button.btn.btn-search{:type => "submit"} Search
        .span12.login
          .span8.login-box
            .span2.login-title
              %span My portal
            .span10.login-form
              %form.navbar-form
                %span Login
                %input.span3{:type => "text"}/
                %span Password
                %input.span3{:type => "text"}/
                %button.btn{:type => "submit"} Go
                %button.btn{:type => "submit"} ?
    .row-fluid.header-row2

    #content.row-fluid
      .span2.left-column
        .box1.scroll-pane
          #tree1
        .span2.action-left
          %p Curriculum:
          .btn-group
            %button.btn.btn-large UK GCSE
            %button.btn.btn-large.dropdown-toggle{"data-toggle" => "dropdown"}
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => ""} link 1
              %li
                %a{:href => ""} link 2
              %li
                %a{:href => ""} link 3
              %li
                %a{:href => ""} link 4
              %li.divider
              %li
                %a{:href => ""} Separated link
      .box-header.span10
        .span9
          %h2 Number
        .span3
          .btn-group.pull-right
            %button.btn.btn-large All
            %button.btn.btn-large.dropdown-toggle{"data-toggle" => "dropdown"}
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => ""} link 1
              %li
                %a{:href => ""} link 2
              %li
                %a{:href => ""} link 3
              %li
                %a{:href => ""} link 4
              %li.divider
              %li
                %a{:href => ""} Separated link
      .box2.span10
        .row-fluid.box-container
          .whitebox.span3.scroll-pane.column2
            %ul  
              %a{:href => ""} 
                %li Add Subtract Mental
              %a{:href => ""} 
                %li Add Subtract Written
              %a{:href => ""} 
                %li Counting and Place Value
              %a{:href => ""} 
                %li Decimals
              %a.current{:href => ""} 
                %li Estimating and Accuracy
              %a{:href => ""} 
                %li Fractions
              %a{:href => ""} 
                %li Money and finance
              %a{:href => ""} 
                %li Multiply Divide Mental
              %a{:href => ""} 
                %li Multiply Divide Written
              %a{:href => ""} 
                %li Percentages
              %a{:href => ""} 
                %li Powers and Roots
              %a{:href => ""} 
                %li Ratio and Proportion
              %a{:href => ""} 
                %li Standard Form
              %a{:href => ""} 
                %li Add Subtract Mental
              %a{:href => ""} 
                %li Add Subtract Written
              %a{:href => ""} 
                %li Counting and Place Value
              %a{:href => ""} 
                %li Decimals
              %a{:href => ""} 
                %li Estimating and Accuracy
              %a{:href => ""} 
                %li Fractions
              %a{:href => ""} 
                %li Money and finance
              %a{:href => ""} 
                %li Multiply Divide Mental
              %a{:href => ""} 
                %li Multiply Divide Written
              %a{:href => ""} 
                %li Percentages
              %a{:href => ""} 
                %li Powers and Roots
              %a{:href => ""} 
                %li Ratio and Proportion
              %a{:href => ""} 
                %li Standard Form
              %a{:href => ""} 
                %li Add Subtract Mental
              %a{:href => ""} 
                %li Add Subtract Written
              %a{:href => ""} 
                %li Counting and Place Value
              %a{:href => ""} 
                %li Decimals
              %a{:href => ""} 
                %li Estimating and Accuracy
              %a{:href => ""} 
                %li Fractions
              %a{:href => ""} 
                %li Money and finance
              %a{:href => ""} 
                %li Multiply Divide Mental
              %a{:href => ""} 
                %li Multiply Divide Written
              %a{:href => ""} 
                %li Percentages
              %a{:href => ""} 
                %li Powers and Roots
              %a{:href => ""} 
                %li Ratio and Proportion
              %a{:href => ""} 
                %li Standard Form
              %a{:href => ""} 
                %li Add Subtract Mental
              %a{:href => ""} 
                %li Add Subtract Written
              %a{:href => ""} 
                %li Counting and Place Value
              %a{:href => ""} 
                %li Decimals
              %a{:href => ""} 
                %li Estimating and Accuracy
              %a{:href => ""} 
                %li Fractions
              %a{:href => ""} 
                %li Money and finance
              %a{:href => ""} 
                %li Multiply Divide Mental
              %a{:href => ""} 
                %li Multiply Divide Written
              %a{:href => ""} 
                %li Percentages
              %a{:href => ""} 
                %li Powers and Roots
              %a{:href => ""} 
                %li Ratio and Proportion
              %a{:href => ""} 
                %li Standard Form
          .whitebox.span9.scroll-pane.column3
            #accordion2.accordion

              .accordion-group.accordian-green
                .accordion-heading
                  %a.accordion-toggle.active{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseOne"}
                    .column-3-number.span1
                      %span 1
                    .column-header.span10
                      %span Number Facts and Doubles 1
                    .header-icon.icon-green.span1
                #collapseOne.accordion-body.collapse.in
                  .accordion-inner.row-fluid
                    .span11.offset1
                      %p 
                        Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.
                    .row-fluid
                      .span11.offset1
                        %p
                          %a.btn.btn-primary{:href => "#"} Lesson
                          %a.btn.btn-primary{:href => "#"} Online Homework
                    .rowfluid
                      .span11.offset1
                        %ul.breadcrumb
                          %li
                            %a{:href => "#"} Library
                            %span.divider >
                          %li
                            %a{:href => "#"} Number
                            %span.divider >
                          %li.active Data

              .accordion-group.accordian-green
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseTwo"}
                    .column-3-number.span1
                      %span 2
                    .column-header.span10
                      %span Number Facts and Doubles 2
                    .header-icon.icon-green.span1
                #collapseTwo.accordion-body.collapse
                  .accordion-inner.row-fluid
                    .span11.offset1
                      %p 
                        Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.
                    .row-fluid
                      .span11.offset1
                        %p
                          %a.btn.btn-primary{:href => "#"} Lesson
                          %a.btn.btn-primary{:href => "#"} Online Homework
                    .rowfluid
                      .span11.offset1
                        %ul.breadcrumb
                          %li
                            %a{:href => "#"} Library
                            %span.divider >
                          %li
                            %a{:href => "#"} Number
                            %span.divider >
                          %li.active Data

              .accordion-group.accordian-green
                .accordion-heading.row-fluid
                  %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseThree"}
                    .column-3-number.span1
                      %span 3
                    .column-header.span10
                      %span Number Facts and Doubles 3
                    .header-icon.icon-green.span1

                #collapseThree.accordion-body.collapse
                  .accordion-inner.row-fluid
                    .span11.offset1
                      %p 
                        Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.
                    .row-fluid
                      .span11.offset1
                        %p
                          %a.btn.btn-primary{:href => "#"} Lesson
                          %a.btn.btn-primary{:href => "#"} Online Homework
                    .rowfluid
                      .span11.offset1
                        %ul.breadcrumb
                          %li
                            %a{:href => "#"} Library
                            %span.divider >
                          %li
                            %a{:href => "#"} Number
                            %span.divider >
                          %li.active Data


              .accordion-group.accordian-yellow
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseFour"}
                    .column-3-number.span1
                      %span 4
                    .column-header.span10
                      %span Number Bonds
                    .header-icon.icon-yellow.span1
                #collapseFour.accordion-body.collapse
                  .accordion-inner.row-fluid
                    .span11.offset1
                      %p 
                        Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.
                    .row-fluid
                      .span11.offset1
                        %p
                          %a.btn.btn-primary{:href => "#"} Lesson
                          %a.btn.btn-primary{:href => "#"} Online Homework
                    .rowfluid
                      .span11.offset1
                        %ul.breadcrumb
                          %li
                            %a{:href => "#"} Library
                            %span.divider >
                          %li
                            %a{:href => "#"} Number
                            %span.divider >
                          %li.active Data

              .accordion-group.accordian-yellow
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseFive"}
                    .column-3-number.span1
                      %span 5
                    .column-header.span10
                      %span Counting On and Back
                    .header-icon.icon-yellow.span1
                #collapseFive.accordion-body.collapse
                  .accordion-inner.row-fluid
                    .span11.offset1
                      %p 
                        Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.
                    .row-fluid
                      .span11.offset1
                        %p
                          %a.btn.btn-primary{:href => "#"} Lesson
                          %a.btn.btn-primary{:href => "#"} Online Homework
                    .rowfluid
                      .span11.offset1
                        %ul.breadcrumb
                          %li
                            %a{:href => "#"} Library
                            %span.divider >
                          %li
                            %a{:href => "#"} Number
                            %span.divider >
                          %li.active Data

              .accordion-group.accordian-yellow
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseSix"}
                    .column-3-number.span1
                      %span 5
                    .column-header.span10
                      %span Counting On and Back
                    .header-icon.icon-yellow.span1
                #collapseSix.accordion-body.collapse
                  .accordion-inner.row-fluid
                    .span11.offset1
                      %p 
                        Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.
                    .row-fluid
                      .span11.offset1
                        %p
                          %a.btn.btn-primary{:href => "#"} Lesson
                          %a.btn.btn-primary{:href => "#"} Online Homework
                    .rowfluid
                      .span11.offset1
                        %ul.breadcrumb
                          %li
                            %a{:href => "#"} Library
                            %span.divider >
                          %li
                            %a{:href => "#"} Number
                            %span.divider >
                          %li.active Data

              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseSeven"}
                    .column-3-number.span1
                      %span 7
                    .column-header.span10
                      %span Counting On and Back
                    .header-icon.icon-yellow.span1
                #collapseSeven.accordion-body.collapse
                  .accordion-inner.row-fluid
                    .span11.offset1
                      %p 
                        Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.Knowing simple pairs that add up to 100 and 1000.
                    .row-fluid
                      .span11.offset1
                        %p
                          %a.btn.btn-primary{:href => "#"} Lesson
                          %a.btn.btn-primary{:href => "#"} Online Homework
                    .rowfluid
                      .span11.offset1
                        %ul.breadcrumb
                          %li
                            %a{:href => "#"} Library
                            %span.divider >
                          %li
                            %a{:href => "#"} Number
                            %span.divider >
                          %li.active Data

              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseEight"}
                    Collapsible Group Item #8
                #collapseEight.accordion-body.collapse
                  .accordion-inner
                    Anim pariatur cliche...

              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseNine"}
                    Collapsible Group Item #9
                #collapseNine.accordion-body.collapse
                  .accordion-inner
                    Anim pariatur cliche...

              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseTen"}
                    Collapsible Group Item #10
                #collapseTen.accordion-body.collapse
                  .accordion-inner
                    Anim pariatur cliche...

              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseEleven"}
                    Collapsible Group Item #11
                #collapseEleven.accordion-body.collapse
                  .accordion-inner
                    Anim pariatur cliche...

              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseTwelve"}
                    Collapsible Group Item #12
                #collapseTwelve.accordion-body.collapse
                  .accordion-inner
                    Anim pariatur cliche...

              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseThirteen"}
                    Collapsible Group Item #13
                #collapseThirteen.accordion-body.collapse
                  .accordion-inner
                    Anim pariatur cliche...

              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseFourteen"}
                    Collapsible Group Item #14
                #collapseFourteen.accordion-body.collapse
                  .accordion-inner
                    Anim pariatur cliche...

              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseFifteen"}
                    Collapsible Group Item #15
                #collapseFifteen.accordion-body.collapse
                  .accordion-inner
                    Anim pariatur cliche...

              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseSixteen"}
                    Collapsible Group Item #16
                #collapseSixteen.accordion-body.collapse
                  .accordion-inner
                    Anim pariatur cliche...

              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseSeventeen"}
                    Collapsible Group Item #17
                #collapseSeventeen.accordion-body.collapse
                  .accordion-inner
                    Anim pariatur cliche...


#footer.footer  