// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "print.css.scss";

$blue: #C6CCE7;
$light-blue: #ECEEF7; //light greyish blue for footer and selected menu states etc.
$dark-blue: #000066;
$button-blue: #DDDDEE;
$pink: #D44E8B; //pink highlights
$green: #89BF99;
$yellow: #E69C45;
$accordian-green: lighten($green, 30%);
$accordian-yellow: lighten($yellow, 35%);
$dark-purple: #7781B0;
$border-radius: 10px;
$button-radius: 10px;
$margin: 20px;

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  .box1{
    min-width: 500px;
    clear: both;
  }
}

//snippets



//main styles

body,html{
  height: 100%;
  font-size: 16px;
  background: #fff url(/assets/body-bg.jpg) 0 0 repeat-x;
}
#content{
  height: 81%;
  position: relative;
}
#wrapper{
  min-height: 100%;
  height: auto !important;
  height: 100% !important;
  margin: 0 $margin -40px;
  position: relative;
}

.row-fluid.box-container{
  height: 100%;
}

.breadcrumb{
  padding: 0px;
}

//header styles
#header{
  height: 160px;
  margin-bottom: $margin;
}

#header-right{
  height: 100%;
}

#logo.span3{
  height: 100px;
  margin-top: $margin;
}

.span12.top-menu{
  height: 50%;
  margin-bottom: 15px;
}

.span12.login{
  height: 80px;
  margin: 0px;
}

.login-box{
  background-color: $light-blue;
  margin: 0 0 $margin 0;
  height: 65px;
  @include border-radius (20px);
}

.search-box{
  margin: 0px;
}

.login-title{
  background-color: $blue;
  height: 100%;
  @include border-left-radius($border-radius);
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  min-width: 100px;
}

.login-title span{
  vertical-align: middle ;
  text-align: center;
  padding-top: 43px;
}

//navigation styles

.header-nav{
  float: right;
}

#main-navigation li{
  display: inline;
  padding: 0px 10px 50px 0;
  position: relative;
}

#main-navigation li.separator{
  display: inline;

}

#main-navigation li {
  background: transparent url(/assets/nav-separator.png) right 0px no-repeat;
  padding-right: 10px;
}

#main-navigation li:last-child {
  background: none;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

//breadcrumb
.breadcrumb {
    background-color: transparent;
}

.footer{
  background-color: $light-blue;
}

.left-column{
  height: 100%;
}

.span2 .box1{
  background-color: $light-blue;
  @include border-left-radius($border-radius);
  height: 30%;
  margin-bottom: $margin;
}

.box-header.span10{
  background: $blue url(/assets/circles.png) center -113px no-repeat;
  @include border-top-radius($border-radius);
  padding: $margin $margin 0 $margin;
}

.box-header{

  
}

#wrapper .box2{
  background-color: $blue;
  padding: 0 $margin $margin $margin;
  @include border-bottom-radius($border-radius);
  height: 85%;
  display: block;
}

.box2 .header{
  height: 20%;
}


.span12 h2{
  height: 20%;
}

.box2 .column2{
  z-index: 1;
  position: relative;
}

.box2 .column2 ul{
  list-style: none;
  margin: 0px;
}

.box2 .column2 li{
  border-bottom: 1px solid $light-blue;
  padding: 7px 10px;
}

.box2 a,
{
  color: $dark-blue;
}

.box2 .column2 a:hover,
.box2 .column2 a li:hover,
a.accordion-toggle:hover{
  background-color: $light-blue;
  text-decoration: none;
  -webkit-transition:color 0.3s ease 0s;  
  -moz-transition:color 0.3s ease 0s;  
  -o-transition:color 0.3s ease 0s;  
  transition:color 0.3s ease 0s;  
}

.box2 .column2 a.current li{
  background-color: $pink;
  color: #fff;
  background: $pink url(/assets/arrow.png) right 50% no-repeat;
}

.scroll-pane{
  background-color: white;
  position: relative ;
  overflow: auto ;
  height: 100%;
}

//scroller styles
.whitebox.span9.scroll-pane.mCustomScrollbar._mCS_3{
  margin-left: 0;
  width: 76.5%;
  z-index: 0;
  position: relative;
  @include box-shadow(#dadada 5px 0px 7px 0px inset);
}

.mCSB_container{
  margin-right: 19px;
}

.mCSB_draggerContainer{
  border: 1px solid $blue;
  background-color: $light-blue;
}

.mCSB_scrollTools .mCSB_dragger{
  @include border-radius($border-radius);
  background: #434D94 url(/assets/scroll-bg.png) 0 0 no-repeat;
  background: #7781b0; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc3ODFiMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYTQ0OGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #7781b0 0%, #3a448e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7781b0), color-stop(100%,#3a448e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #7781b0 0%,#3a448e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #7781b0 0%,#3a448e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #7781b0 0%,#3a448e 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #7781b0 0%,#3a448e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7781b0', endColorstr='#3a448e',GradientType=0 ); /* IE6-8 */
  box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.5) inset;
  border: 1px solid #3A448E;
  width: 17px;
}

.mCSB_dragger_bar{
  display: none;
}

.mCSB_draggerRail{
  display: none;
}

.mCustomScrollBox .mCSB_scrollTools{
  width: 20px;
}

.row-fluid .column2,
.row-fluid .column3{
  margin-left: 0px;
}

#content .action-left{
  margin: 0px;
  float: left;
}

//acordian
.accordion-group {
  border-bottom: 1px solid $light-blue;
  border-top: 0px solid $light-blue;
  border-left: 0px solid $light-blue;
  border-right: 0px solid $light-blue;
  border-radius: 0;
  margin-bottom: 0;
}

.accordion-inner {
  border-top: 0px;
  padding: 9px 16px 0 0;
}

.accordian-green .active,
.accordian-green .accordion-body{
    background-color: $accordian-green;
}

.accordian-yellow .active,
.accordian-yellow .accordion-body{
    background-color: $accordian-yellow;
}
.accordion-heading .collapsed{
  background-color: #fff;
}

.accordion-heading .accordion-toggle{
  position: relative;
  height: 30px;
  padding: 10px 15px;
}

.header-icon{
  height: 35px;
  width: 35px;
  top: -4px;
  position: relative;
}

.icon-green{
  background: transparent url(/assets/sprite.png) 0 0 no-repeat;
  height: 35px;
  width: 35px !important;
}

.icon-yellow{
  background: transparent url(/assets/sprite.png) -50px 0 no-repeat;
  height: 35px;
  width: 35px !important;
}


.column-header span {
    line-height: 1.7;
}

.column-3-number{
  padding: 1px 10px 0 0;
}

.column-3-number span{
  width: 26px;
  height: 26px;
  position: inline;
  float: right;
  position: relative;
  left: 15px;
  margin: 0px;
  padding: 2px 0 0 0px;
  text-align: center;
  font-weight: bold;
}


.active .column-3-number span{
  background: transparent url(/assets/pink-circle.png) 0 0 no-repeat;
  width: 26px;
  height: 26px;
  color: #fff;
  position: inline;

  padding: 2px 0 0 0px;
  text-align: center;
}

//button styles

#wrapper .btn{
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
  text-shadow: 0 0px 0px rgba(255, 255, 255, 0.75);
 background-image: -webkit-gradient(linear, left top, left bottom, from(#8F98CA), to(#3F4991));
 background-image: -webkit-linear-gradient(top, #8F98CA, #3F4991);
 background-image: -moz-linear-gradient(top, #8F98CA, #3F4991);
 background-image: -ms-linear-gradient(top, #8F98CA, #3F4991);
 background-image: -o-linear-gradient(top, #8F98CA, #3F4991);
 background-image: linear-gradient(to bottom, #8F98CA, #3F4991);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8F98CA, endColorstr=#3F4991);
  border-color: #3f4991 #3f4991 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #3f4991;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *border: 0;
  border:1px solid #6975b8; 
  -webkit-border-radius: $button-radius; 
  -moz-border-radius: $button-radius;
  border-radius: $button-radius;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#wrapper .btn:hover, #wrapper .btn:focus {
  border:1px solid #4e5ba5; 
  background-color: #6c78ba;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6c78ba), top(#30376d));
  background-image: -webkit-linear-gradient(top, #6c78ba, #30376d);
  background-image: -moz-linear-gradient(top, #6c78ba, #30376d);
  background-image: -ms-linear-gradient(top, #6c78ba, #30376d);
  background-image: -o-linear-gradient(top, #6c78ba, #30376d);
  background-image: linear-gradient(to bottom, #6c78ba, #30376d);
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#6c78ba, endColorstr=#30376d);
  transition: background-position 0 linear 0s;
  background-position: 0px !important;
}

#wrapper .btn-search{
  -webkit-border-top-right-radius: $button-radius;
  -webkit-border-bottom-right-radius: $button-radius;
  -moz-border-radius-topright: $button-radius;
  -moz-border-radius-bottomright: $button-radius;
  border-top-right-radius: $button-radius;
  border-bottom-right-radius: $button-radius;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  left: 2px;
}

#wrapper .btn-large{
  -webkit-border-top-right-radius: $button-radius;
  -webkit-border-bottom-right-radius: $button-radius;
  -moz-border-radius-topright: $button-radius;
  -moz-border-radius-bottomright: $button-radius;
  border-top-left-radius: $button-radius;
  border-bottom-left-radius: $button-radius;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#wrapper .dropdown-toggle{
  -webkit-border-top-right-radius: $button-radius;
  -webkit-border-bottom-right-radius: $button-radius;
  -moz-border-radius-topright: $button-radius;
  -moz-border-radius-bottomright: $button-radius;
  border-top-right-radius: $button-radius;
  border-bottom-right-radius: $button-radius;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background-color: $light-blue;
    background-image: none;
    background-repeat: repeat-x;
    color: white;
    text-decoration: none;
}

.btn-large .caret {
border-top-color: white !important;
border-bottom-color: white !important;
}



