$blue: #C6CCE7;
$light-blue: #ECEEF7; //light greyish blue for footer and selected menu states etc.
$dark-blue: #000066;
$pink: #D44E8B; //pink highlights

html, body, body div, span, object, iframe, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}	

h1, h2, h3, h4, p, span{
	color: $dark-blue;
}

h1, h2, h3, h4 {
    font-family: 'gadgetregular',Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-weight: normal;
}

p{
	font-size: 0.9em;
}

a{
	color: $pink;
}

a:hover{
	color: $dark-blue;
}

a:focus,
a:active{
    outline: none;
}